body{
    background: url('https://source.unsplash.com/category/nature/1080x720');

    top: 0; 
    left: 0; 
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}
.vis{
    border:greenyellow 5px solid;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.slabo{
    font-family: 'Slabo 27px', serif;
}
#time{
    font-size:1500%;
    color:white;
    text-shadow: -2px 0px 0px rgba(150, 150, 150, 1);

}
#date{
    font-size:500%;
    color:white;
    text-shadow: -2px 0px 0px rgba(150, 150, 150, 1);
}
#quote{
    color:white;
    text-shadow: -2px 0px 0px rgba(150, 150, 150, 1);
}